<div class="section">
  <div class="container">
    <h1 class="title">Create</h1>

    {{instance-edit
      instance=instance
      securityGroups=securityGroups
      save='save'
    }}

  </div>
</div>