<div class="section">
  <div class="container">
    <div class="columns is-multiline">
      {{#each teams as |team|}}
        {{team-item team=team join='join'}}
      {{/each}}
    </div>
  </div>
</div>
