<div class="section">
  <div class="container">

    <h1 class="title">Error</h1>

    <div class="no-instances">

      <section class="hero is-medium">
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title">
              looks broken... so here's a quote.
            </h1>
            <h2 class="subtitle">

            </h2>
          </div>
        </div>

      </section>

    </div>

  </div>
</div>

