<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered login-container">
      <h1 class="title">
        <span  {{action "login"}} class="button">swordfish</span>
      </h1>
    </div>
  </div>
</section>
