<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered login-container">
      <h1 class="title">
        swordfish
      </h1>
      <h1 class="title">
        <i class="fa fa-fw fa-lock"></i>
      </h1>
      <h2 class="subtitle unlock" {{action "login"}}>
        unlock
      </h2>
    </div>
  </div>
</section>
