<div class="view-section">
  <div class="is-heading">
    <h1 class="title is-4">Amazon Details</h1>
    <h2 class="subtitle is-6">
      Before you can create/view instances you'll need to update these details
    </h2>
  </div>

  <div class="columns is-multiline">
    <div class="column is-12">
      <label class="label">Aws key</label>
      <div class="control">
        <div class="level">
          <div class="level-item">
            {{input type="text" value=user.awsKey class="input"
                    placeholder="Aws key"}}
          </div>
        </div>
      </div>
    </div>

    <div class="column is-12">
      <label class="label">Aws secret</label>
      <div class="control">
        <div class="level">
          <div class="level-item">
            {{input type="text" value=user.awsSecret class="input"
                    placeholder="Aws key"}}
          </div>
        </div>
      </div>
    </div>

    <div class="column is-12">
      <label class="label">Aws region</label>
      <div class="control">
        <div class="level">
          <div class="level-item">
            {{input type="text" value=user.awsRegion class="input" placeholder="ap-southeast-2"}}
          </div>
        </div>

        <button class="button is-primary is-min-width-button is-pulled-right" {{action "saveAws"}}>Sync</button>
      </div>

    </div>

  </div>


</div>
