<div class="view-section">
  <div class="is-heading">
    <h1 class="title is-4">Silverstripe API</h1>
    <h2 class="subtitle is-6">
      This is only required if you wish to use database and asset restore features of Swordfish.
    </h2>
  </div>

  <div class="columns is-multiline">
    <div class="column is-12">
      <label class="label">Username</label>
      <div class="control">
        <div class="level">
          <div class="level-item">
            {{input type="text" value=user.silverstripeUsername class="input" placeholder="Silverstripe Username"}}
          </div>
        </div>
      </div>
    </div>

    <div class="column is-12">
      <label class="label">Token</label>
      <div class="control">
        <div class="level">
          <div class="level-item">
            {{input type="password" value=user.silverstripeToken class="input" placeholder="Silverstripe Token"}}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
