body {
  background: #fff;
  color: #676767;
  margin: 0 auto;
  font-family: "Proxima Nova", Georgia, sans-serif;
}

.container {
  width: 1000px;
}

.title {
  font-weight: 300;
}

.is-heading {
  margin-bottom: 20px;
}
