.auth0-lock-header {
  display: none;
}

.auth0-lock-badge-bottom {
  display: none;
}

.auth0-lock-overlay {
  display: none;
}

.auth0-lock-widget {
  box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.3) !important;
  font-family: 'Proxima Nova', Georgia, sans-serif !important;
}

.auth0-lock.auth0-lock .auth0-lock-close-button, .auth0-lock.auth0-lock .auth0-lock-back-button {
  display: none;
}

.auth0-lock-submit {
  background: $primary !important;
}
