<div class="section">
  <div class="container">

    <h1 class="title">Settings</h1>

    {{user-picture
      user=user
      savePicture='savePicture'
    }}

    {{user-gitlab
      user=user
      saveGitlab='saveGitlab'
    }}


  </div>
</div>