<div class="section">
  <div class="container">

    <h1 class="title">Settings</h1>

    <div class="notification">
      <strong>Note:</strong> Since this data is sent through to Auth0 for safe keeping, it needs to be loaded back
      through your JWT.

      This requires reauthorizing with Swordfish.
    </div>

    {{user-aws
      user=user
    }}

    {{user-silverstripe
      user=user
    }}

    {{user-gitlab
      user=user
    }}

    <button class="button is-primary is-min-width-button is-pulled-right" {{action "save" user}}>Save & logout</button>


  </div>
</div>