/** @format */

$primary: #0069ff;
$secondary: #000;

$link: #0069ff;
$link-invert: #0069ff;
$danger: #c23b22;

$success: #15cd72;

$grey-500: #f1f1f1;

$green-500: #15cd72;

$blue-500: #09c;

$blue-600: #303e4d;

$orange-500: #f48436;

$purple-500: #5956a5;
