<div class="view-section">
  <div class="is-heading">
    <h1 class="title is-4">Picture</h1>
    <h2 class="subtitle is-6">
      Replace your generic letters with something a little classier
    </h2>
  </div>

  <div class="columns is-multiline">
    <div class="column is-12">
      <label class="label">Picture</label>
      <div class="control">
        <div class="level">
          <div class="level-item">
            {{input type="text" value=user.picture class="input"
                    placeholder="http://"}}
          </div>
        </div>

        <button class="button is-primary is-min-width-button is-pulled-right" {{action "savePicture"}}>Sync</button>

      </div>

    </div>

  </div>
</div>