<div class="section">
  <div class="container">

    {{instance-item
      instance=instance
      stacks=stacks
      stackEvent=stackEvent
      triggerInstanceEvent='triggerInstanceEvent'
      restore='restore'
      restoring=restoring
    }}

  </div>
</div>