<div class="no-instances">

  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Looks like you don’t have any Instances.
        </h1>
        <h2 class="subtitle">
          Better create one and do some work.
        </h2>

        {{#link-to "instances.new" classNames="button is-primary"}}Create{{/link-to}}

      </div>
    </div>

  </section>

</div>