<div class="section">
  <div class="container">

    <div class="no-instances">

      <section class="hero is-medium">
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title">
              Ah, I see you've not setup your AWS details.
            </h1>
            <h2 class="subtitle">
              Can't do much without those, go plug em in!
            </h2>


          </div>
        </div>

      </section>

    </div>

  </div>
</div>