<div class="section">
  <div class="container">

    <div class="no-instances">

      <section class="hero is-medium">
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title">
              Ah, I see you've not setup your AWS account.
            </h1>
            <h2 class="subtitle">
              ...Or you've done it wrong...
            </h2>

            {{#link-to "users.edit" user.id classNames="button is-primary"}}Setup{{/link-to}}

          </div>
        </div>

      </section>

    </div>

  </div>
</div>