<div class="section">
  <div class="container">
    {{instance-table
      instances=instances
      triggerInstanceEvent='triggerInstanceEvent'
      triggerRefreshAll='triggerRefreshAll'
    }}
  </div>
</div>