<div class="card is-fullwidth" {{action "toggleActiveMode"}}>
  <header class="card-header">
    <p class="card-header-title">
      {{title}}
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <p>
        {{description}}
      </p>
    </div>
  </div>
</div>