<div class="view-section">
  <div class="is-heading">
    <h1 class="title is-4">Starting: {{team.name}}</h1>
  </div>

  <div class="columns is-multiline">
    <div class="column is-12">
      <div class="control">
        <div class="level">
          <div class="level-item">
            {{input type="text" value=team.name class="input" placeholder="Team name"}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="view-section has-text-centered">
  <button class="button is-primary is-min-width-button" {{action "save" team}}>Start</button>
</div>